DOCKERHUB_USER=tu_usuario_dockerhub
APP_TAG=latest
POSTGRES_PASSWORD=postgres
ENABLE_STARTUP_SEED=true
ENABLE_GCS_UPLOAD=true
GCS_BUCKET_NAME=tu_bucket_gcs
GCS_OBJECT_PREFIX=citas
MAX_FILES_PER_UPLOAD=3
MAX_FILES_PER_CITA=5
MAX_UPLOAD_FILE_SIZE_MB=5
